@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900|Righteous');
$headfont: 'Righteous', cursive;
$subfont : 'Cairo', sans-serif;
$font1: 25px;
$font2: 20px;
$dark:rgb(31, 35, 38);
$cyan:rgb(2,192,238);
$pink:#e538a4;

// INTRODUCTION
.Hero{
    width:100vw;
    height:100vh;
    min-height:515px;
    position: relative;
    color:$dark;    
    font-family: $headfont;
    letter-spacing: 3px;
    font-size: $font1;
    .BlueCover{
        background:$cyan;
        position: fixed;
        top:0;
        left:0;
        z-index: 1;
        width:100%;
        height:0;
    }
    .BlackCover{
        background:$dark;
        position: fixed;
        top:0;
        left:0;
        z-index: 1;
        width:100%;
        height:0;
    }
    .Intro{
        width: 100%;
        position: absolute;
        top:50%;
        left:0;
        transform: translate(0,-50%);
        padding: 15px 25px;
        box-sizing: border-box;
        z-index: 2;
        .Avatar{
            width:250px;
            height:250px;
            margin:0 auto;
            border:1px solid black;
            border-radius: 50%;
            box-shadow: 0px 3px 6px rgba(0,0,0,0.5);
            background-color: white;
            z-index: 3;

        }
        // .mini{
        //     background: red;
        // }
    }
    .SeeMore{
        position: absolute;
        bottom:0;
        left:50%;
        transform: translate(-50%, 0);
        color:$dark;
        text-shadow: none;
        p{
            margin:0;
            font-size: 20px;
        }
    }
}
.Content{
    background: white;
    z-index: 1;
    position: relative;
    // ABOUT
    .AboutSection{
        position: relative;
        font-family: $subfont;
        font-size:$font2;
        background: white;
        .About{
            width: 100%;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5fd3f7+0,00bff4+100 */
            background: $cyan; /* Old browsers */
            // background: -moz-linear-gradient(top, hsla(194,91%,67%,1) 0%, hsla(210,100%,64%,1) 100%); /* FF3.6-15 */
            // background: -webkit-linear-gradient(top, hsla(194,91%,67%,1) 0%,hsla(210,100%,64%,1) 100%); /* Chrome10-25,Safari5.1-6 */
            // background: linear-gradient(to bottom, hsla(194,91%,67%,1) 0%,hsla(210,100%,64%,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5fd3f7', endColorstr='#46a3ff',GradientType=0 ); /* IE6-9 */
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top:75px;
            padding:45px 0 105px;
            .AboutText{
                width:75%;
                color: $dark;
            }
        }
        .SplitTable{
            background:#f7fdff;
            background-size: contain;
            width:75%;
            margin:-75px auto 0;
            max-width: 1200px;
            box-shadow: 0 3px 15px rgba(196, 196, 196, 0.5);
            border-radius: 15px;
            display: flex;
            justify-content: space-evenly;
            position: relative;
            height: auto;
            padding:15px;
            box-sizing: border-box;
            flex-wrap: wrap;

            .Column{
                padding:15px 25px;
                box-sizing: border-box;
                flex-basis: 0;
                flex-grow: 1;
                flex-shrink: 1;
                min-width: 250px;
                h4{
                    margin: 0;
                    color:$cyan;
                    font-weight: bold;
                }
                ul{
                    list-style-type: none;
                    padding: 0;
                    margin-top: 3px;
                }
            }
            .ColumnSeparator{
                border-right: 2px solid rgba(199, 199, 199, 0.5);
            }
        }
    }
    
    //COMPANIES
    .Companies{
        font-family: $subfont;
        margin-top: 50px;
    }
    
    //COLLAB
    .CollabContainer{
        width:100%;
        background: $dark;
        margin-top:75px; 
        .Collab{
            font-family: $subfont;
            display:flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: space-around;
            align-items: center;
            max-width: 1200px;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e538a4+0,c52595+100 */
            // background: #e538a4; /* Old browsers */
            // background: -moz-linear-gradient(top, hsla(323,77%,56%,1) 0%, hsla(318,68%,46%,1) 100%); /* FF3.6-15 */
            // background: -webkit-linear-gradient(top, hsla(323,77%,56%,1) 0%,hsla(318,68%,46%,1) 100%); /* Chrome10-25,Safari5.1-6 */
            // background: linear-gradient(to bottom, hsla(323,77%,56%,1) 0%,hsla(318,68%,46%,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e538a4', endColorstr='#c52595',GradientType=0 ); /* IE6-9 */
            padding: 25px 50px;
            color: white;
            font-size: 35px;
            margin: 0 auto;
            .Interested{
                margin: 0 25px;
                text-align: center;
                h3{
                    margin: 0;
                    flex: 1 1 auto;
                }
                p{
                    flex: 1 1 auto;
                    font-size: 20px;
                    margin:5px 0;
                }
            }
            button{
                border:2px solid $pink;
                border-radius: 40px;
                height:75px;
                margin: 20px auto;
                min-width: 250px;
                max-width: 300px;
                color:white;
                font-size: 25px;
                background: rgba(0,0,0,0);
                transition: all 0.3s;
                flex: 1 1 auto;
            }
            button:hover{
                color:$pink;
                background:white;
                box-shadow: 0 3px 6px rgba(0,0,0,0.5);
                cursor: pointer;
            }
        }
    }
}

//FOOTER
.Footer{
    background: $cyan; /* Old browsers */
    // background: -moz-linear-gradient(top, hsla(194,91%,67%,1) 0%, hsla(210,100%,64%,1) 100%); /* FF3.6-15 */
    // background: -webkit-linear-gradient(top, hsla(194,91%,67%,1) 0%,hsla(210,100%,64%,1) 100%); /* Chrome10-25,Safari5.1-6 */
    // background: linear-gradient(to bottom, hsla(194,91%,67%,1) 0%,hsla(210,100%,64%,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5fd3f7', endColorstr='#46a3ff',GradientType=0 ); /* IE6-9 */
    padding:50px 0;
    z-index: 4;
    position: relative;
    .FooterText{
        color:white;
    }
    .FooterSocial{
        display: flex;
        justify-content: center;
        margin:20px 0 0 0;
        .FooterSocialIcon{
            width:60px;
            height:60px;
            display: flex;
            justify-content: center;
            align-items: center;
            border:2px solid $dark;
            margin:5px 15px;
            border-radius: 50%;
            svg{fill:$dark;}
        }
        .FooterSocialIcon:hover{
            cursor: pointer;
            background: white;
            border:2px solid $cyan;
            svg{
                fill: $cyan;
            }
        }
    }
}
@media all and (max-width: 1690px) {}
@media all and (max-width: 1280px) {}
@media all and (max-width: 980px) {
    .Content{
        .AboutSection{
            font-size: 16px;
            .About{
                .AboutText{
                    width:75%;
                }
            }
        }
    }
}
@media all and (max-width: 736px) {
    .Hero{
        font-size: 18px;
        .SeeMore{
            font-size: 13px;
            p{
                font-size: 13px;
            }
        }
    }
    .Content{
        .AboutSection{
            font-size: 16px;
            .About{
                .AboutText{
                    width:80%;
                }
            }
        }
    }
}
@media all and (max-width: 707px){
    .SplitTable{
        .ColumnSeparator{
            border-right:none !important;
            border-bottom: 2px solid rgba(199, 199, 199, 0.5);
        }
    }
}
@media all and (max-width: 480px){
    .Hero{
        font-size: 16px;
        .SeeMore{
            font-size: 12px;
            p{
                font-size: 12px;
            }
        }
    }
    .Content{
        .AboutSection{
            .About{
                .AboutText{
                    width:80%;
                }
            }
        }
        
    }
}

