
.Black{
    background: url('../../../assets/images/drip-black-long.png') top center;
}
.Pink{
    background: url('../../../assets/images/drip-pink.png') top center;
}
.Yellow{
    background: url('../../../assets/images/drip-yellow.png') top center;
}
.Blue{
    background: url('../../../assets/images/drip-blue-long.png') top center;
}
.Image{
    // background: url('../../../assets/images/drip-repeatable-2500.png') top center;
    position: fixed;
    background-size: contain;
    background-repeat: repeat-x;
    width:100vw;
    // z-index: 5;
    height:100vh;
    top:-100px !important;
    left:0;
    overflow-x: hidden;
}
.Black{
    top:-750px !important;
}